/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Green): #00655a;
Secondary Color (Orange): #d3d3d3;

Background Colors (grey) #cbd1d0; (Orange) #e0b354
Visited Link Color (Blue) #0000ff;
active Link Color (Light-Green) #489c79;
 */
 :root {
   --primary-color: #357b70;
   --secondary-color: #e0b354;
   --dark-grey: #2b2b2b;
   --bg_color: #cbd1d0;
   --fill_color0: #edc655;
   --fill_color50: #fcffad;
   --fill_color100: #f76414;
   --visited_color: #0000ff;
   --active_color: #489c79;
   --button_bg_color: #00655a;
   --button_txt_color: white ;
   --table_bg_color: lightgray;
   --table_th_color: lightgray;
   --table_td_color: lightgray;
   --grid_bg_color: lightgray;
   --h1_font_size: 30px;
   --h2_font_size: 24px;
   --h3_font_size: 18px;
   --button_transition_speed: .9s;
 }
body {
    background-color: var(--bg_color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    margin: 8px;
    padding: 8px;
    /* Sets an 8px border around the body*/
    }

h1{
  font-size: var(h1_font_size);
  text-decoration: underline;
}

h2{
  font-size: var(h2_font_size);
  font-weight:700;
}

h3{
  font-size: var(h3_font_size);
  font-weight:700;
}

a {
  color: var(--primary-color);
}

a:hover, a:focus{
  /* No underlining when hovering over a link */
  text-decoration: none;

}

a:visited {
  /* visited link */
  color: var(--visited_color);
}

a:active {
  /* selected link */
  color: var(--active_color);
}

button,.button1,.button2,.button3,.my-input {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--button_bg_color);
  color: var(--button_txt_color);
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: var(--button_transition_speed) opacity;
}
button:hover, button:focus, .button1:hover, .button1:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}
table{
  background-color: var(--table_bg_color);
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
th{
  border:2px solid var(--table_th_color);
}
td{
  border:2px solid var(--table_td_color);
}
.interests{
  margin: auto;
  width:30%;
  list-style-type:none;
  /*border: 3px solid green;*/
  text-align: center;

}
.interests-ul{
  list-style-type:none;
  padding:0;
}
.berlin-illustration{
  margin:auto;
  width: 100%;
}
.button__secondary {
  background-color: var(--secondary-color);
  color: var(--dark-grey); /* secondary button grey text color */
}
.navigation-list__item--active {
  text-decoration: none;
}
.navigation-list{
  list-style-type:none;
}
.navigation-list li{
  display: inline-block;
  margin-left: 15px;
}
.page-header{
  display:flex;
  width:100%;
  padding:20px;

}
.page-header__item{
  flex: 0 1 200px;
}
.page_header__item:first-child{
  opacity:30%;
}
.page-header__item:last-child{
  flex-grow:1;
  text-align:right;
}
.page_title{
  text-align: center;
}

.profile {
  max-width: 700px;
  margin:0 auto;
}
.profile__portrait{
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius:50%;
}

.page-footer{
  clear:both;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact{
  text-align:center;
}
* {
  box-sizing: border-box;
}


.grid__item{
  display: inline-block;
  align-items:center;
  width: 200px;
  height: 200px;
}

@supports (display: grid){
  .grid__padding{
    padding-left:200px;
    padding-right:200px;
  }
  .grid{
    justify-content: center;
    display: grid;
    /*grid-template-columns: 400px 400px 400px;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin:auto;
  }
  .grid__item{
    background-color: var(--grid_bg_color);
    width: auto;
    min-height: auto;
    margin: 0;
  }

  /*.grid__item:nth-child(3){
    grid-column:3/3;
    grid-row:1/3;
  }*/
}
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
@keyframes color-change {
  0% {
    fill: var(--fill_color0);
  }
  50% {
    fill: var(--fill_color50);
  }
  100% {
    fill: var(--fill_color100);
  }
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
